@use "../../../styles/common" as c;

.certs {
    @include c.section;

    h1 {
        @include c.heading;
    }

    div {
        display: flex;

        @media screen and (min-width: 800px) {
            //Desktop
            flex-direction: row;
        }

        @media screen and (max-width: 800px) {
            //Mobile & Tablet
            flex-direction: column;
        }
    }
}