:root {
    --background: black;
    --primary: white;
    --secondary: rgb(214, 214, 214);
    --tertiary: rgb(96 96 96);
    --accent: #008be5;
    --accent-bright: #41b3ff;
    --accent-gradient: linear-gradient(0, #008be5 0%, #003de5 100%);
    --header-shadow: black;
    --header-text-color: var(--accent);
}