:root {
    --background: black;
    --primary: white;
    --secondary: rgb(214, 214, 214);
    --tertiary: rgb(96 96 96);
    --accent: #008be5;
    --accent-bright: #41b3ff;
    --accent-gradient: linear-gradient(0, #008be5 0%, #003de5 100%);



    --header-shadow: black;
    --header-text-color: var(--accent);



    --chat-background: #232323;
    --chat-message-client-box: #414141;
    --chat-message-client-text: #f5f5f5;
    --chat-message-agent-box: #414141;
    --chat-message-agent-text: #f5f5f5;
    --chat-client-choice-box: #009aff;
    --chat-client-choice-text: #f5f5f5;
    --chat-send-button: #009aff;
    --chat-send-button-text: white;
    --chat-send-button-disabled: #11537f;
    --chat-send-button-text-disabled: #595959;
    --chat-section-background: #3f3f3f;
    --chat-input-background: #c5c5c5;
}