// $transition-fast: var(--transition-speed-fast);

.listItem {
    $icon-size: 1.618rem;
    $icon-click-size: 80px;
    list-style: none;
    position: relative;

    a {
        width: $icon-click-size;
        height: $icon-click-size;

        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 800;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        position: relative;

        span {
            color: var(--background);

            position: absolute;
            filter: drop-shadow(0 0 0 var(--background)) brightness(1);
            transition: color 0.12s ease-in-out, filter 0.12s ease-in-out;
            bottom: 55px;
            font-size: 0.618rem;
        }

        div {

            width: $icon-click-size;
            height: 90px;
            background-color: var(--accent);
            position: absolute;
            border-radius: 99999px;
            bottom: 0;
            scale: 0;
            opacity: 0;

            filter: blur(30px);
            transition: scale var(--transition-speed-fast) ease-in-out, opacity var(--transition-speed-fast) ease-in-out;
        }

        svg {
            width: $icon-size;
            height: $icon-size;
            z-index: 1;
            fill: var(--primary);
            filter: brightness(1) drop-shadow(0 0 5px rgba(0, 0, 0, 0));
            transition: fill var(--transition-speed-fast) ease-in-out, filter var(--transition-speed-fast) ease-in-out;
        }

    }



    &:hover {
        div {
            scale: 1;
            opacity: 1;
            transition: scale var(--transition-speed-fast) ease-in-out, opacity var(--transition-speed-fast) ease-in-out;
        }

        span {

            color: var(--header-text-color);
            filter: drop-shadow(0 0 2px var(--accent-bright)) brightness(1.7);
            transition: color var(--transition-speed-fast) ease-in-out, filter var(--transition-speed-fast) ease-in-out;

        }

        svg {
            filter: brightness(2) drop-shadow(0 5px 2px var(--header-shadow));
            transition: fill var(--transition-speed-fast) ease-in-out, filter var(--transition-speed-fast) ease-in-out;

        }
    }
}

.listItemMobile {
    $icon-size-mobile: 1.618rem;
    $icon-click-size-mobile: 80px;

    a {
        width: 100%;
        height: $icon-click-size-mobile;
        display: flex;
        text-decoration: none;

        div {
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                width: $icon-size-mobile;
                height: $icon-size-mobile;
                fill: var(--primary);
                transition: fill var(--transition-speed-fast);
            }

            span {
                width: 100%;
                color: var(--primary);
                transition: fill var(--transition-speed-fast);
            }
        }

        div:first-child {
            min-width: $icon-click-size-mobile;
            height: $icon-click-size-mobile;
        }

        div:last-child {
            width: calc(100vw - $icon-click-size-mobile);
        }

    }
}