@use "sass:math";

.intro {
    margin: 5rem 0 10rem 0;

    h3 {
        font-size: (math.pow(1.618, 2)*1rem);
        margin: 0;
        margin-bottom: 1.618rem;
        font-weight: 100;
        color: var(--primary);
    }

    p {
        font-size: 1rem;
        margin: 0;
        margin-bottom: 0.75rem;
        font-weight: 600;
        color: var(--secondary);
    }

    div {
        //profile image
        $profile-size: 150px;
        width: $profile-size;
        height: $profile-size;
        border-radius: 9999px;
        margin: 0 auto;
        margin-bottom: 2.5rem;

        div {
            position: absolute;
            background-image: url("/profile.png");
            background-color: var(--primary);
            background-size: cover;
        }

        //For glow effect
        div:first-child {
            filter: blur(30px);
            opacity: 0.6;
        }
    }

    * {
        text-align: center;
    }

}