@use "../../../../styles/breakpoints.scss" as bp;
// $transition-fast: var(--transition-speed-fast);
$icon-size: 1.618rem;
$icon-click-size: 80px;
$icon-size-mobile: 1.618rem;
$icon-click-size-mobile: 60px;

.listItem {

    // $icon-click-size-mobile: 80px;
    list-style: none;
    position: relative;

    @media screen and (min-width: map-get(bp.$breakpoints, tablet-wide)) {

        //Desktop
        p,
        a {
            width: $icon-click-size;
            height: $icon-click-size;
        }

    }

    @media screen and (min-width: map-get(bp.$breakpoints, mobile)) and (max-width: map-get(bp.$breakpoints, tablet-wide)) {

        //Tablet
        p,
        a {
            width: $icon-click-size;
            height: $icon-click-size;
        }
    }

    @media screen and (max-width: map-get(bp.$breakpoints, mobile)) {

        //Mobile
        p,
        a {
            width: $icon-click-size-mobile;
            height: $icon-click-size-mobile;
        }
    }

    p,
    a {
        // transition: width 0.2s ease-in-out,
        // height 0.2s ease-in-out;
    }

    // height var(--transition-speed-fast);



    a {
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 800;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        position: relative;

        span {
            color: var(--background);

            position: absolute;
            filter: drop-shadow(0 0 0 var(--background)) brightness(1);
            transition: color 0.12s ease-in-out, filter 0.12s ease-in-out;
            bottom: 55px;
            font-size: 0.618rem;
        }

        div {

            width: $icon-click-size;
            height: 90px;
            background-color: var(--accent);
            position: absolute;
            border-radius: 99999px;
            bottom: 0;
            opacity: 0;

            filter: blur(30px);
            transition: opacity var(--transition-speed-fast) ease-in-out;
        }

        svg {
            width: $icon-size;
            height: $icon-size;
            z-index: 1;
            fill: var(--header-icon-color);
            filter: brightness(1) drop-shadow(0 0 5px rgba(0, 0, 0, 0));
            // transition: fill var(--transition-speed-fast) ease-in-out, filter var(--transition-speed-fast) ease-in-out;
        }

        @media screen and (min-width: map-get(bp.$breakpoints, tablet-wide)) {

            //Desktop
            span {
                opacity: 1;
            }

        }

        @media screen and (min-width: map-get(bp.$breakpoints, mobile)) and (max-width: map-get(bp.$breakpoints, tablet-wide)) {

            //Tablet
            span {
                opacity: 0;
            }
        }

        @media screen and (max-width: map-get(bp.$breakpoints, mobile)) {

            //Mobile

            div:first-child {
                opacity: 0;
            }

            span {
                opacity: 0 !important;
                display: none;
            }
        }

    }


    @mixin highlightItem {
        div {
            opacity: 1;
            // transition: opacity var(--transition-speed-fast) ease-in-out;
        }

        span {

            color: var(--header-text-color);
            filter: drop-shadow(0 0 2px var(--accent-bright)) brightness(1.7);
            transition: color var(--transition-speed-fast) ease-in-out, filter var(--transition-speed-fast) ease-in-out;

        }

        svg {
            filter: brightness(2) drop-shadow(0 5px 2px var(--header-shadow));
            transition: fill var(--transition-speed-fast) ease-in-out, filter var(--transition-speed-fast) ease-in-out;

        }
    }

    &:hover {
        @include highlightItem;
    }

    &.current {
        @include highlightItem;
    }

}

.listItemMobile {

    width: $icon-click-size-mobile;
    height: $icon-click-size-mobile;
    list-style: none;
    position: relative;

    a {
        width: $icon-click-size-mobile;
        height: $icon-click-size-mobile;
        display: flex;
        text-decoration: none;
        flex-direction: column;
        position: relative;

        div {
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                width: $icon-size-mobile;
                height: $icon-size-mobile;
                fill: var(--header-icon-color);

                // transition: fill var(--transition-speed-fast);

            }

        }

        div:first-child {
            position: absolute;
            width: $icon-click-size-mobile - 25px;
            height: $icon-click-size-mobile - 20px;
            background-color: var(--accent);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            filter: blur(10px);
            opacity: 0;

        }

        div:last-child {
            width: $icon-click-size-mobile;
            height: $icon-click-size-mobile - 10px;
            z-index: 1;
        }

        // div:last-child {
        //     width: calc(100vw - $icon-click-size-mobile);
        // }

    }

    div.mobileNavTag {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;

        span {
            // width: 100%;
            color: var(--secondary);
            filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0)) brightness(1);
            // transition: fill var(--transition-speed-fast);
            text-align: center;
            font-size: 7px;
            font-weight: 900;
            // display: none;
            position: absolute;
            bottom: 10px;
            width: 100%;
            // left: 50%;
            // scale: 0.8;
            // transform: translateX(-50%);
        }
    }

    &.current {
        a {
            div:first-child {
                background-color: var(--accent);
                opacity: 0.8;
            }

            div:last-child {
                svg {
                    filter: brightness(2) drop-shadow(0 -5px 3px var(--header-shadow));
                }
            }
        }

        .mobileNavTag {
            span {
                color: var(--accent-bright);
                filter: drop-shadow(0 0 3px var(--accent-bright)) brightness(1.2);
            }
        }


    }

    &:nth-child(1) {
        a>div>svg {
            transition-delay: 0.2s !important;
        }
    }

    &:nth-child(2) {
        a>div>svg {
            transition-delay: 0.1s !important;
        }
    }

    &:nth-child(3) {
        a>div>svg {
            transition-delay: 0s !important;
        }
    }

    &:nth-child(4) {
        a>div>svg {
            transition-delay: 0.1s !important;
        }
    }

    &:nth-child(5) {
        a>div>svg {
            transition-delay: 0.2s !important;
        }
    }
}