@use "../../../../styles/common" as c;

.historyItem {
    padding: 4em 3em;
    @include c.box_spacing_common;
    @include c.box_min_height;
    @include c.box;

    label {
        width: 100%;
        display: block;
        margin-bottom: 1em;
        color: var(--primary);
    }

    p {
        * {
            line-height: 1.618rem;
            color: var(--primary);
        }

        margin: 0;
        margin-top: 1.25em;
    }

    h3 {
        * {
            font-size: 1.618em;
            font-weight: 700;
            color: var(--primary);
        }


        margin: 0;
        margin-top: 1.25em;
    }

    h4 {
        * {
            font-size: 1.618em;
            font-weight: 100;
            color: var(--primary);
        }


        margin: 0;
        margin-top: 0.5em;
    }

    div {
        @media screen and (min-width: 800px) {
            //Desktop
            width: 80%;
        }

        @media screen and (max-width: 800px) {
            //Mobile & Tablet
            width: 90%
        }
    }

    * {
        color: white;
        text-align: center;
    }
}

.current {
    // background-image: linear-gradient(0deg, rgb(22, 22, 22), #414141);
    background-color: var(--background);
    border: solid var(--primary);
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
}

.past {
    // background-image: linear-gradient(10deg, rgb(95, 95, 95), #b8b8b8);
    // background-color: ;
    background-color: var(--background);
    border: solid var(--tertiary);
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
}