@use "../../../../styles/common" as c;

.certificateItem {
    width: 100%;
    // background-color: var(--secondary);
    padding: 1em 2em;
    // @include c.box_spacing_common;
    // @include c.box;
    // @include c.box_min_height;

    border-bottom: solid 1px var(--secondary);


    * {
        display: block;
        text-decoration: none;
    }

    a {
        //Link
        display: flex;
        justify-content: left;
        align-items: center;

        label {
            color: white;
            text-align: center;
        }

        h3 {
            color: white;
            text-align: center;
            font-size: 1.2rem;
            // margin: 0;
        }

        img {
            $icon-size: 80px;
            width: $icon-size;
            height: $icon-size;
            // margin: 0 auto;
            margin-right: 50px;
        }
    }

    &:last-child {
        border-bottom: none;
    }
}