@use "../../../styles/common" as c;

.skills {
    @include c.section;

    h1 {
        @include c.heading
    }

    div {
        display: flex;

        div:first-child {
            margin-right: 2rem;
        }

        div {
            width: 50%;
            height: 400px;
            // background-color: var(--primary);
            border: solid 3px var(--primary);
            @include c.box;


            ul {
                padding: 0;
                margin: 0;
            }

            li {
                list-style: none;
                color: var(--primary);
                font-size: 1.2rem;
                text-align: center;
                line-height: 3rem;
            }
        }

    }
}