@use "./breakpoints.scss" as bp;

@mixin box {

    border-radius: 4.235rem;
    display: flex;
    justify-content: center;
    align-items: center;

    // @media screen and (min-width: map-get(bp.$breakpoints, tablet-wide)) {
    //     //Desktop
    //     border-radius: 4.235rem;
    // }

    // @media screen and (max-width: map-get(bp.$breakpoints, tablet-wide)) {
    //     //Mobile & Tablet
    //     border-radius: 2.617rem;
    // }
}

@mixin box_spacing_common {
    margin-bottom: 2.617rem;
}

@mixin box_min_height {
    min-height: 180px;
}

@mixin heading {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1.618rem;
    font-weight: 800;
    color: var(--secondary);
}

@mixin section {
    margin-top: 11.089rem;
}