@use "./breakpoints.scss" as bp;

:root {
    --mobile: #{map-get(bp.$breakpoints, mobile)};
    --tablet: #{map-get(bp.$breakpoints, tablet)};
    --desktop: #{map-get(bp.$breakpoints, desktop)};
}

* {
    // font-family: 'M PLUS 1p', sans-serif;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

html {
    background-color: var(--background);

    body {
        margin: 0;
    }
}