* {
    // font-family: 'M PLUS 1p', sans-serif;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    background-color: var(--background);

    body {
        margin: 0;
    }
}

// .jp {
//     opacity: 0;
// }

// .en {
//     opacity: 0;
// }