.contents {
    max-width: var(--tablet);
    padding: 2.617924rem;
    // padding-top: calc(6.853rem + 2.617rem + 80px + 2.617rem);
    margin: 0 auto;
    // margin-top: 2.617924rem;
    box-sizing: border-box;
    position: relative;
}

.blog {
    max-width: 600px;
    margin: 0 auto;
}