.contents {
    max-width: var(--tablet);
    padding: 2.617924rem;
    margin: 0 auto;
    // margin-top: 2.617924rem;
    box-sizing: border-box;
    position: relative;
}

.blog {
    max-width: 600px;
    margin: 0 auto;
}