@use "../styles/breakpoints.scss" as bp;

.contents {
    max-width: var(--tablet);
    padding: 2.617924rem;
    // padding-top: calc(6.853rem + 2.617rem + 80px + 2.617rem);
    margin: 0 auto;
    // margin-top: 2.617924rem;
    box-sizing: border-box;
    position: relative;

    ///////////////////
    //Desktop /////////
    ///////////////////
    @media screen and (min-width: map-get(bp.$breakpoints, tablet-wide)) {
        padding-top: 23rem;
    }

    ///////////////////
    // Tablet /////////
    ///////////////////
    @media screen and (min-width: map-get(bp.$breakpoints, mobile)) and (max-width: map-get(bp.$breakpoints, tablet-wide)) {
        padding-top: 20rem;
    }

    ///////////////////
    // Mobile /////////
    ///////////////////
    @media screen and (max-width: map-get(bp.$breakpoints, mobile)) {
        padding-top: 17rem;
    }
}

.blog {
    max-width: 600px;
    margin: 0 auto;
}