@use "../../../styles/breakpoints.scss" as bp;

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    // transition: background var(--transition-speed-fast);

    // * {
    //     transition: all 0.2 ease-in-out;
    // }

    >div {
        width: 100%;
        max-width: map-get(bp.$breakpoints, tablet-wide);
        margin: 0 auto;
        position: relative;

        >div.navigation {
            width: 100%;
            max-width: map-get(bp.$breakpoints, tablet-wide);
            margin: 0 auto;
            position: relative;
            z-index: 99;
            background-color: var(--background);
            transition: padding var(--transition-speed-fast),
                background-color var(--transition-speed-fast),
                color var(--transition-speed-fast);


            >div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 auto;
                z-index: 10;
                max-width: map-get(bp.$breakpoints, tablet-wide);
                background-color: var(--background);
                position: relative;

                // ul {
                //     li {
                //         a {
                //             span {
                //                 display: none;
                //             }
                //         }
                //     }

                //     &:hover {
                //         li {
                //             a {
                //                 span {
                //                     display: block;
                //                 }
                //             }
                //         }
                //     }
                // }

                ul.desktop {
                    display: flex;
                    margin: 0;
                    padding: 0;
                    align-items: center;
                    justify-content: space-evenly;
                    position: absolute;
                    right: 0;

                }

                ul.mobile {
                    // position: absolute;
                    // right: 0;
                    display: flex;
                }



                ///////////////////
                //Desktop /////////
                ///////////////////
                @media screen and (min-width: map-get(bp.$breakpoints, tablet-wide)) {

                    ul.desktop {
                        // display: none;
                        padding-right: 0rem;

                        li {
                            scale: 1;

                        }
                    }

                    ul.mobile {
                        // display: none;
                        pointer-events: none;
                        padding-right: 2.617924rem;



                        li {
                            scale: 0;
                            pointer-events: none;
                        }
                    }
                }

                ///////////////////
                // Tablet /////////
                ///////////////////
                @media screen and (min-width: map-get(bp.$breakpoints, mobile)) and (max-width: map-get(bp.$breakpoints, tablet-wide)) {

                    ul.desktop {
                        // display: none;
                        pointer-events: none;
                        padding-right: 0;

                        li {
                            scale: 0;

                            pointer-events: none;
                        }
                    }

                    ul.mobile {
                        // display: none;
                        margin: 0;
                        padding: 0;
                        // padding-right: 2.617924rem;

                        li {
                            scale: 1;

                        }
                    }

                }

                ///////////////////
                // Mobile /////////
                ///////////////////
                @media screen and (max-width: map-get(bp.$breakpoints, mobile)) {

                    ul.desktop {
                        // display: none;
                        pointer-events: none;
                        padding-right: 2.617924rem;

                        li {
                            scale: 0;

                            pointer-events: none;
                        }
                    }

                    ul.mobile {
                        // display: none;
                        margin: 0;
                        padding: 0;
                        padding-right: 1.2rem;

                        li {
                            scale: 1;

                        }
                    }

                }
            }

        }
    }
}

.wide,
.shrink {}

///////////////////
//Desktop /////////
///////////////////
@media screen and (min-width: map-get(bp.$breakpoints, tablet-wide)) {
    // height: 200px;

    .wide {
        padding-top: 6.853rem;
        padding-bottom: 2.617rem;

    }

    .shrink {
        padding-top: 0;
        padding-bottom: 0;

    }

}

///////////////////
// Tablet /////////
///////////////////
@media screen and (min-width: map-get(bp.$breakpoints, mobile)) and (max-width: map-get(bp.$breakpoints, tablet-wide)) {

    // height: 11.08rem;
    .wide {
        padding-top: 6.853rem;
        padding-bottom: 2.617rem;

    }

    .shrink {
        padding-top: 0;
        padding-bottom: 0;

    }

}

///////////////////
// Mobile /////////
///////////////////
@media screen and (max-width: map-get(bp.$breakpoints, mobile)) {

    // height: 11.08rem;
    .wide {
        padding-top: 6.853rem;
        padding-bottom: 2.617rem;

    }

    .shrink {
        padding-top: 0;
        padding-bottom: 0;

    }


}