@use "../../../styles/breakpoints.scss" as bp;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    z-index: 9;
    max-width: map-get(bp.$breakpoints, tablet);

    position: relative;

    ul.desktop {
        display: flex;
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        right: 0;

    }

    ul.mobile {
        position: absolute;
        right: 0;
    }

    transition: margin 0.5s ease-in-out;

    @media screen and (min-width: map-get(bp.$breakpoints, tablet-wide)) {
        // height: 200px;
        margin-top: 11.089rem;
        margin-bottom: 2.617rem;

        //Desktop
        ul.desktop {
            // display: none;

            li {
                scale: 1;
                transition: scale 0.2s ease-in-out;
            }
        }

        ul.mobile {
            // display: none;
            pointer-events: none;

            li {
                scale: 0;
                transition: scale 0.2s ease-in-out;
                pointer-events: none;
            }
        }
    }

    @media screen and (max-width: map-get(bp.$breakpoints, tablet-wide)) {
        // height: 11.08rem;
        margin-top: 6.853rem;
        margin-bottom: 2.617rem;

        //Mobile & Tablet
        ul.desktop {
            // display: none;
            pointer-events: none;

            li {
                scale: 0;
                transition: scale 0.2s ease-in-out;
                pointer-events: none;
            }
        }

        ul.mobile {
            // display: none;

            li {
                scale: 1;
                transition: scale 0.2s ease-in-out;
            }
        }

        transition: margin 0.2s ease-in-out;
    }
}