@use "../../../styles/breakpoints.scss" as bp;

.mobileSettingView {
    position: absolute;
    left: 0;
    width: 100%;
    max-width: map-get(bp.$breakpoints , tablet);
    height: auto;
    background-color: var(--background);
    z-index: 2;
    padding: 2.617924rem;
    padding-top: calc(2.617924rem + 100px);
    box-sizing: border-box;
    margin: 0 auto;


    // filter: drop-shadow(0 5px 1px var(--primary))

    ul {
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: 1.618rem;
        margin-bottom: 2.617rem;
        // display: flex;
    }

    label {
        color: var(--secondary);
        font-weight: 600;
        font-size: 0.618rem;
        // margin-top: 1.618rem;
        display: block;
    }

    ul.lang {}

    ul.colorTheme {}

    .bar {
        position: absolute;
        bottom: 1.618rem;
        left: 50%;
        transform: translateX(-50%);
        width: 11.089rem;
        height: 0.3819rem;
        background-color: var(--secondary);
        border-radius: 999px;
    }

}

.show {
    transition: bottom 0.2s ease-in-out;
    bottom: -370px;
}

.hide {
    transition: bottom 0.2s ease-in-out;
    bottom: 0;
}



.mobileSettingVeiwLink {
    $icon-size: 4.235rem;
    width: 100%;
    height: $icon-size;
    list-style: none;
    display: flex;
    align-items: center;
    border: solid 1px var(--primary);
    border-radius: 50px;
    margin-bottom: 1.618rem;
    cursor: pointer;

    &:last-child {
        margin-bottom: 0;
    }


    // justify-content: center;

    div {
        width: $icon-size;
        height: $icon-size;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0.618rem;

        svg {
            width: 1.618rem;
            height: 1.618rem;
            fill: var(--primary);
        }
    }

    a {
        display: flex;
        width: 100%;
        height: 100%;
        // justify-content: center;
        align-items: center;
        text-decoration: none;
        color: var(--primary);

        span {
            display: inline-block;
            margin-left: 1rem;
        }
    }

    // &:first-child {
    //     margin-right: 1rem;
    // }
}