$icon-size: 18px;
$width: $icon-size+20px;
$min-height: $icon-size*6+20px;

.widget {
    width: $width;
    min-height: $min-height;
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    .buttons {
        width: $width;
        height: $min-height;
        background: black;
        border-radius: 999px;
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            li {
                width: $icon-size;
                height: $icon-size;
                margin: 4px;
                list-style: none;
                border-radius: 999px;
                cursor: pointer;
            }
        }
    }

    .options {
        width: 200px;
        height: $min-height;
        position: absolute;
        right: 0;
        top: 0;
        background-color: gray;
        // border-radius: 50px;
    }
}