@use "../../../styles/breakpoints.scss" as bp;

$icon-size: 1.618rem;
$width: $icon-size+1rem;

.widget {
    width: $width !important;
    height: fit-content;
    position: fixed !important;
    z-index: 9;

    top: 50%;
    transform: translateY(-50%);

    .buttons {
        width: $width;
        height: fit-content;
        padding: 1rem 0;
        background: var(--background);
        border: solid 2px var(--tertiary);
        border-radius: 999px;
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            li {
                width: $icon-size;
                height: $icon-size;
                margin: 4px;
                list-style: none;
                border-radius: 999px;
                cursor: pointer;

                transform: scale(1);
                transition: transform var(--transition-speed-fast);

                &:hover {
                    transform: scale(1.2);
                    transition: transform var(--transition-speed-fast);
                }
            }
        }


    }

    .options {
        width: 200px;
        height: fit-content;
        position: absolute;
        right: 0;
        top: 0;
        background-color: gray;
        // border-radius: 50px;
    }

    @media screen and (min-width: map-get(bp.$breakpoints, tablet-wide)) {
        //Desktop
        right: 10px;
        transition: right 0.2s ease-in-out;
    }

    @media screen and (max-width: map-get(bp.$breakpoints, tablet-wide)) {
        //Mobile & Tablet
        right: -50px;
        transition: right 0.2s ease-in-out;
    }
}

$icon-click-size: 80px;

.widgetMobile {
    width: 100%;
    height: $icon-click-size;

    .buttons {
        width: 100%;
        height: 100%;

        ul {
            width: 100%;
            // max-width: 500px;
            height: 100%;
            padding: 0;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            li {
                width: $icon-click-size;
                height: $icon-click-size;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                svg {
                    width: $icon-size;
                    height: $icon-size;

                    transition: fill var(--transition-speed-fast);
                }
            }
        }
    }
}