.loading {
    width: 100%;
    height: 100000px;
    // position: fixed;
    // top: 0;
    // left: 0;
    background-color: var(--background);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    position: relative;

    z-index: 99999999;

    h1 {

        transform: translate(-50% -50%);
        color: var(--primary);
    }

    div {
        $icon-size: 20px;
        width: $icon-size;
        height: $icon-size;
        position: sticky;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        svg {
            color: white;
            fill: var(--primary);

            * {
                fill: var(--primary) !important;
            }

            width: $icon-size;
            height: $icon-size;

            animation: RotateAnim 1s linear infinite;

        }
    }
}

@keyframes RotateAnim {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}