@use "../../../styles/common" as c;
@use "../../../styles/breakpoints.scss" as bp;

.reference {
    @include c.section;

    h4 {
        @include c.heading
    }

    >div {

        margin: 0 auto;

        @media screen and (min-width: map-get(bp.$breakpoints, tablet)) {
            width: 80%;
        }

        @media screen and (max-width: map-get(bp.$breakpoints, tablet)) {
            width: 90%;
        }



        h5 {
            color: var(--primary);
            margin: 0;
            text-align: center;

            margin-bottom: 1rem;
            font-size: 1.618rem;
        }

        label,
        label>a {
            display: block;
            color: var(--accent);
            text-align: center;
            margin-bottom: 1.618rem;
            font-size: 0.618rem;
            font-weight: 500;
            text-decoration: none;
        }

        div {

            display: flex;

            @media screen and (min-width: map-get(bp.$breakpoints, tablet)) {
                flex-direction: row;
            }

            @media screen and (max-width: map-get(bp.$breakpoints, tablet)) {
                flex-direction: column;
            }

            p {
                color: var(--secondary);
                line-height: 1.618rem;
                // text-align: center;
                font-size: 0.618rem;
                // text-indent: 1.618rem;

                margin: 0;

                @media screen and (min-width: map-get(bp.$breakpoints, tablet)) {
                    padding-right: 1.618rem;
                }

                @media screen and (max-width: map-get(bp.$breakpoints, tablet)) {
                    padding-right: 0;
                }

                &:last-child {
                    padding: 0;
                    // text-indent: 0;
                }
            }
        }
    }
}