@use "../../styles/breakpoints.scss" as bp;

.post {

    // * {
    //     max-width: 100%;
    //     // width: 100%;
    //     height: auto;
    //     // width: inherit;
    //     object-fit: cover;
    //     // margin: 0;
    // }

    $headerMargin: 2.617rem auto 1rem auto;

    div.titleSection {
        border-bottom: solid 1px white;
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding-bottom: 1rem;
        margin-bottom: 1rem;

        h1 {
            // margin: $headerMargin;
            margin-top: 0;
            // padding-bottom: 1rem;
            margin-bottom: 0;

            span {
                color: var(--primary);
            }

            @media screen and (min-width: map-get(bp.$breakpoints, tablet-wide)) {

                //Desktop
                span {
                    font-size: 2.617rem;
                    font-weight: 100;
                    // text-align: center;
                }
            }

            @media screen and (min-width: map-get(bp.$breakpoints, mobile)) and (max-width: map-get(bp.$breakpoints, tablet-wide)) {

                //Tablet
                span {
                    font-size: 2.617rem;
                    font-weight: 100;
                    // text-align: center;
                }
            }

            @media screen and (max-width: map-get(bp.$breakpoints, mobile)) {

                //Mobile
                span {
                    font-size: 1.618rem;
                    font-weight: 100;
                    // text-align: center;
                }
            }
        }

        div {
            display: flex;
            align-items: center;

            label,
            label span {
                color: var(--primary);
                font-size: 0.618rem;
                font-weight: 700;
            }

            label {
                margin-right: 1rem;

            }

            a {



                img {

                    height: 100%;
                    // padding-bottom: 0.3rem;
                    border-radius: 0 !important;
                    margin: 0 !important;

                    @media screen and (min-width: map-get(bp.$breakpoints, tablet-wide)) {

                        //Desktop
                        width: 80px;
                    }

                    @media screen and (min-width: map-get(bp.$breakpoints, mobile)) and (max-width: map-get(bp.$breakpoints, tablet-wide)) {

                        //Tablet
                        width: 80px;
                    }

                    @media screen and (max-width: map-get(bp.$breakpoints, mobile)) {

                        //Mobile
                        width: 60px;
                    }
                }
            }
        }
    }

    h3,
    h3 span {
        color: var(--primary);
        font-size: 1.618em;
        margin: $headerMargin;

    }

    h5,
    h5 span {
        color: var(--primary);
        font-size: 1.2rem;
        margin: $headerMargin;

    }

    p {
        color: var(--primary);
        line-height: 2.617rem;
        margin: 0;
        margin-bottom: 1.618rem;
        // font
    }

    ul {
        padding: 0;
        margin: 0;
        // margin-left: 1rem;
    }

    li {
        line-height: 2.617rem;
        list-style: none;


    }

    img {
        border-radius: 10px;
        margin-bottom: 1.618em;

        max-width: 100%;
        // width: 100%;
        height: auto;
        // width: inherit;
        object-fit: cover;
        // margin: 0;
    }

    iframe {
        width: 100%;
        min-width: 40% !important;
        height: 30vw;
        // max-height: 450px;
        border-radius: 10px;

        // body {
        //     height: fit-content;
        // }
    }

    // li::before {
    //     content: "\2022";
    //     color: var(--accent);
    //     font-weight: bold;
    //     display: inline-block;
    //     width: 1em;
    //     margin-left: -1em;

    // }

    a {
        color: var(--accent);
        text-decoration: none;
    }

    code {
        border-radius: 5px;
        box-sizing: border-box;
        margin-bottom: 1rem;
    }

    video {
        border-radius: 10px;
        margin-bottom: 1.618em;
    }

    // div {
    //     // width: 100%;
    //     display: flex;
    //     flex-direction: column;


    //     img {
    //         border-radius: 10px;
    //         margin-bottom: 2em;
    //     }

    //     p {
    //         margin-bottom: 2em;
    //     }

    //     div {
    //         display: flex;
    //         flex-direction: row;
    //         flex-wrap: wrap;

    //         iframe {
    //             width: 50%;
    //             height: 50vh;

    //             -webkit-box-sizing: border-box;
    //             /* Safari/Chrome, other WebKit */
    //             -moz-box-sizing: border-box;
    //             /* Firefox, other Gecko */
    //             box-sizing: border-box;
    //             /* Opera/IE 8+ */
    //         }
    //     }

    // }



}