@use "../../../styles/common.scss" as c;

.footer {
    // height: 50px;
    position: relative;
    // @include c.section;
    margin-top: 3rem;
    margin-bottom: 2rem;


    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        // bottom: 1rem;
        // left: 50%;
        // transform: translateX(-50%);
        // position: absolute;


        li {
            $size: 30px;
            width: $size;
            height: $size;
            font-size: 0;
            list-style: none;
            background: var(--background);
            border: solid 1px var(--primary);

            margin-right: 1rem;
            border-radius: 999px;
            cursor: pointer;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;


            a {
                $icon-size: 60%;
                position: absolute;
                width: $icon-size;
                height: $icon-size;

            }

            filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.5));
            transition: filter 0.2s ease-out;

            &:hover {
                filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.7));
                transition: filter 0.2s ease-out;
            }
        }


        :last-child {
            margin-right: 0;
        }
    }

    label {
        display: block;
        text-align: center;
        font-size: 0.618rem;
        color: gray;
        margin-top: 1rem;

    }


    .quote {
        margin: 5rem auto;
        padding: 2rem 0;
        width: 450px;
        max-width: 80%;
        // border: solid 1px var(--tertiary);
        // border-radius: 50px;


        p {
            color: var(--secondary);
            text-align: center;
            font-style: italic;
            font-size: 0.618rem;
            // filter: drop-shadow(0 0 10px var(--primary));
        }

        label {
            display: block;
            color: var(--tertiary);
            text-align: center;
            font-style: italic;
            font-size: 0.618rem;
        }
    }

}