@use "../../styles/breakpoints.scss" as bp;

.message {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    max-width: map-get(bp.$breakpoints , tablet);
    height: 100vh;
    background-color: var(--background);
    z-index: 2;
    padding: 2.617924rem;
    padding-bottom: 0;
    box-sizing: border-box;
    margin: 0 auto;

    >div {
        max-width: 520px;
        height: 90%;
        margin: 0 auto;
        background-color: var(--tertiary);
        border-radius: 10px;
        position: relative;
        overflow: hidden;

        @media screen and (min-width: map-get(bp.$breakpoints, tablet-wide)) {
            //Desktop
            width: 70%;
        }

        @media screen and (max-width: map-get(bp.$breakpoints, tablet-wide)) {
            //Mobile & Tablet
            width: 100%;
        }

        .conversation {
            padding: 1.618rem;
            padding-bottom: 4.235rem;
            margin: 0;
            height: 100%;
            width: 100%;
            overflow-y: scroll;
            box-sizing: border-box;

            ul {
                padding: 0;
            }

            >ul {

                padding: 0;

                li {
                    list-style: none;
                }

                >li {

                    margin-bottom: 1.618rem;
                    width: fit-content;
                    max-width: 60%;
                    padding: 1rem;
                    border-radius: 10px;
                    word-wrap: break-word;
                }

                .agent {
                    background-color: var(--secondary);
                }

                .client,
                .clientChoice {
                    margin-left: auto;
                }

                .client {
                    background-color: var(--secondary);
                }

                .clientChoice {
                    // max-width: 0% !important;
                    padding: 0;

                    ul {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: right;


                        li {
                            background-color: var(--secondary);
                            border-radius: 9999px;
                            padding: 0.618rem 1rem;
                            margin: 0.5rem;
                            width: fit-content;
                            cursor: pointer;


                            // height: fit-content;
                            // &:last-child {
                            //     margin: 0;
                            // }
                        }
                    }
                }
            }
        }

        .replyInput {
            position: absolute;
            width: 100%;
            height: 4.235rem;
            background-color: var(--secondary);
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem 0.618rem;
            box-sizing: border-box;

            div {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                input {
                    width: 95%;
                    height: 100%;
                    border: none;
                    border-radius: 9999px;
                    padding: 0 1rem;
                    box-sizing: border-box;

                }

                button {
                    width: 95%;
                    height: 100%;
                    border: none;
                    border-radius: 9999px;
                    background-color: var(--accent);
                    color: var(--primary);
                    cursor: pointer;
                }

                &:first-child {
                    width: 80%;
                }

                &:last-child {
                    width: 20%;
                }
            }


        }
    }

}

.show {
    // top: 0;
    opacity: 1;

}

.hide {
    // top: 0;
    opacity: 0;
    pointer-events: none;
}



// .mobileSettingVeiwLink {
//     $icon-size: 4.235rem;
//     width: 100%;
//     height: $icon-size;
//     list-style: none;
//     display: flex;
//     align-items: center;
//     border: solid 1px var(--primary);
//     border-radius: 50px;
//     margin-bottom: 1.618rem;
//     cursor: pointer;

//     &:last-child {
//         margin-bottom: 0;
//     }


//     // justify-content: center;

//     div {
//         width: $icon-size;
//         height: $icon-size;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         margin-left: 0.618rem;

//         svg {
//             width: 1.618rem;
//             height: 1.618rem;
//             fill: var(--primary);
//         }
//     }

//     a {
//         display: flex;
//         width: 100%;
//         height: 100%;
//         // justify-content: center;
//         align-items: center;
//         text-decoration: none;
//         color: var(--primary);

//         span {
//             display: inline-block;
//             margin-left: 1rem;
//         }
//     }

//     // &:first-child {
//     //     margin-right: 1rem;
//     // }
// }